<div class="gradient-bg"></div>

<div class="auth-container">
  <!-- Logo / Branding -->
  <div class="auth-logo">
    <img src="./../../../assets/GB.png" alt="Logo" />
  </div>

  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Enter your password"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required.
          </mat-error>
        </mat-form-field>

        <!-- Submit Button -->
        <button
          mat-raised-button
          color="primary"
          class="auth-button"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>

    <!-- <mat-card-actions class="auth-actions">
      <a routerLink="/register">Don't have an account? Register here.</a>
    </mat-card-actions> -->
  </mat-card>
</div>
